rpcuser=myname
#rpcpassword=YOU MUST SET A PASSWORD
maxconnections=20
rpcallowip=127.0.0.1
rpcport=21063
port=11063
server=1
daemon=1
listen=1
logtimestamps=1
addnode=xaucoin.securepayment.cc
addnode=54.194.99.126
addnode=xaucoin.ddns.net
