[Desktop Entry]
Version=1.0
Name=Earthcoin Core
Comment=Connect to the Earthcoin P2P Network
Exec=earthcoin-qt %u
Terminal=false
Type=Application
Icon=earthcoin
MimeType=x-scheme-handler/litecoin;
Categories=Office;Finance;
StartupWMClass=Earthcoin-qt
Name[C]=earthcoin-qt.desktop
