rpcuser=myname
#rpcpassword=YOU MUST SET A PASSWORD
maxconnections=20
rpcallowip=127.0.0.1
rpcport=7777
port=8877
server=1
daemon=1
listen=1
gen=0
logtimestamps=1
addnode=63.247.147.163
addnode=192.227.242.237
addnode=5.175.194.173
