[Desktop Entry]
Version=1.0
Name=Bellscoin Core
Comment=Connect to the Bellscoin P2P Network
Exec=bells-qt %u
Terminal=false
Type=Application
Icon=bellscoin
MimeType=x-scheme-handler/bellscoin;
Categories=Office;Finance;
StartupWMClass=Bellscoin-qt
Name[C]=bellscoin-qt.desktop
