rpcuser=myname
#rpcpassword=YOU MUST SET A PASSWORD
maxconnection=20
rpcallowip=127.0.0.1
rpcport=11223
port=11224
server=1
daemon=1
listen=1
logtimestamps=1
addnode=dnotes.securepayment.cc
addnode=n6.dnotescoin.com
addnode=n7.dnotescoin.com
addnode=n4.dnotescoin.com
addnode=n5.dnotescoin.com
addnode=128.199.239.199
addnode=95.85.44.200
addnode=162.243.225.90
