rpcuser=myname
#rpcpassword=YOU MUST SET A PASSWORD
maxconnections=20
rpcallowip=127.0.0.1
rpcport=9295
port=9296
server=1
daemon=1
listen=1
logtimestamps=1
addnode=suncoin.securepayment.cc
addnode=seed.suncoin.biz
addnode=5.175.194.173
addnode=192.227.242.237
