rpcuser=myname
#rpcpassword=YOU MUST SET A PASSWORD
maxconnections=20
rpcallowip=127.0.0.1
rpcport=9232
port=9231
server=1
daemon=1
listen=1
logtimestamps=1
addnode=guldencoin.securepayment.cc
addnode=seed-000.guldencoin.net
addnode=seed-001.guldencoin.org
addnode=seed-002-guldencoin.nl
addnode=seed-003.guldencoin.net
addnode=seed-004.guldencoin.org
addnode=seed-005-guldencoin.nl
addnode=seed-006.guldencoin.net
addnode=seed-007.guldencoin.org
addnode=seed-008-guldencoin.nl
addnode=seed-009.guldencoin.net
addnode=seed-010.guldencoin.org
addnode=seed-011-guldencoin.nl
addnode=seed-012.guldencoin.net
addnode=seed-013.guldencoin.org
addnode=seed-014-guldencoin.nl
